<h1>User sign in</h1>
<form action="users/create-session/" method="post">
    <input type="email" name="email" placeholder="Your Email" required><br>
    <input type="password" name="password" placeholder="Your password" required><br>
    <input type="submit" value="Sign IN" ><br>
</form>